<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="Scripts/jquery-2.1.4.js"></script>
    <script src="Scripts/angular.js" type='text/javascript'></script>
    <script src="Scripts/angular-animate.js" type='text/javascript'></script>
    <script src="Scripts/angular-route.js" type='text/javascript'></script>
    <script src="App/playlistController.js" type="text/javascript"></script>
    <script src="App/app.js" type='text/javascript'> </script>
</head>
<body ng-app="app">

    <div id="header"> Deezer Playlist Creator</div>
    <div id="content" ng-controller="playlistController as ctrl">
        <select ng-model="ctrl.SelectedSource" ng-change="ctrl.ItemSelected()">
            <option ng-repeat="option in ctrl.AvailableSources" value="{{option.Id}}">{{option.Name}}</option>
        </select>
        <div>
            <ul>
                <li ng-repeat="element in ctrl.PlaylistElements">
                    <label>
                        <input ng-model="element.Selected"
                               name="selectedSongs[]"
                               type="checkbox"
                               value="{{element}}"> {{element.Artist}} - {{element.Title}}
                    </label>
                </li>
            </ul>
        </div>
    </div>
    <div id="footer"> Jakub Serafin 2015</div>
</body>

</html>